@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-image: url(https://images.pexels.com/photos/2104152/pexels-photo-2104152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: 2200px 800px;
  background-image: cover;
  background-repeat: no-repeat;
  background-size: cover;
} 
.logo-pics {
  opacity: unset;
  box-shadow: 0 6px 15px 6px rgb(209, 209, 209); 
}

